DerivedDataCache/
Intermediate/
Saved/
Binaries/
Build/

# Ignore all .vscode files by default
.vscode/*

# But include specific configuration files
!.vscode/c_cpp_properties.json
!.vscode/compileCommands_Default.json
!.vscode/compileCommands_Perfumery.json
!.vscode/compileCommands_Default/
!.vscode/compileCommands_Perfumery/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


# Ignore project-specific files
*.sln
*.suo
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.log
*.opensdf
*.sdf
*.tmp
*.user
*.userprefs
*.db
*.opendb
*.manifest
*.tlog
*.pdb
*.idb
*.psess
*.vspx
*.ncb
*.scc
*.vspscc
*.vssscc
*.pidb
*.svclog
*.sdf
.DS_Store
.idea/
.vs/


# Ignore Config files
Config/DefaultEditor.ini
Config/DefaultEditorUserSettings.ini
Config/DefaultEngine.ini
Config/DefaultGame.ini
Config/DefaultGameUserSettings.ini
Config/DefaultInput.ini
Config/DefaultScalability.ini
Config/DefaultEditorPerProjectUserSettings.ini

